/* ################################################### FOOTER ################################################### */

.footer {
    background-color: oklch(27.8% 0.033 256.848);
    padding: 1rem;
    font-weight: lighter;
    color: white;
}

.footer-box {
    /* border: 1px solid #f82c2c; */
    display: flex;
}

.footer-info {
    /* border: 1px solid #000; */
    padding: .5rem;
    width: 40%;
    margin-right: auto;
}
.footer-info h1{
    font-size: 28px;
    margin-bottom: 1rem;
}
.footer-info h3{
    letter-spacing: 4px;
    margin-bottom: .25rem;
}
.footer-text {
    margin: auto 0;
    /* border: 1px solid #ffffff; */
    font-size: 18px;
    margin-right: auto;
    padding-top: 1rem;
}

.footer-text p i {
    font-size: 22px;
}
.footer-text p{
    margin-bottom: 1rem;
}
.footer-text p a{
    text-decoration: none;
    color: white;
}

.footer-qrcode {
    text-align: center;
}

.footer-qrcode p {
    margin-bottom: .5rem;
}

.footer-qrcode img {
    width: 150px;
}


/*  RESPONSIVE FOOTER */

@media screen and (max-width:1024px) {

    .footer-info p {
        font-size: 14px;
    }

    .footer-text p {
        font-size: 14px;
    }
}

@media screen and (max-width:840px) {

    .footer-info p {
        font-size: 12px;
    }

    .footer-text p {
        font-size: 12px;
    }
}

@media screen and (max-width:540px) {

    .footer-box {
        flex-direction: column;
        margin: 0 auto;
    }

    .footer-info {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 3rem;
        width: 80%;
    }

    .footer-text {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 3rem;
    }

    .footer-info p {
        font-size: 16px;
    }

    .footer-text p {
        font-size: 16px;
    }

    .footer-qrcode {
        margin-bottom: 3rem;
    }
}
/*  RESPONSIVE FOOTER */

/* ################################################### FOOTER ################################################### */